
.modal-backdrop{
    height: 100vh;
    position: fixed;
    top : 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-backdrop .modal-wrapper{
    position: fixed;
    margin: auto;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    width: 600px;
    height: 300px;
    padding: 20px;
    border-radius: 5px;
}
/* .modal-backdrop .modal-wrapper .modal-content{

} */